version: "3.9"

services:
  mysql:
    image: "${MYSQL_IMAGE}"
    container_name: mysql_db
    restart: always
    command: >
      --default-authentication-plugin=mysql_native_password
      --max_connections=500
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - monitoring_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      retries: 5

  mysql_exporter:
    image: prom/mysqld-exporter:latest
    container_name: mysql_exporter
    restart: always
    environment:
      DATA_SOURCE_NAME: "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(mysql:3306)/"
    ports:
      - "9104:9104"
    depends_on:
      - mysql
    networks:
      - monitoring_net

  backup:
    image: mysql:8.0
    container_name: mysql_backup
    restart: unless-stopped
    environment:
      MYSQL_PWD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - mysql
    volumes:
      - ${BACKUP_DIR}:/backup
      - ./backup/backup.sh:/backup.sh:ro
    entrypoint: >
      sh -c "chmod +x /backup.sh &&
      echo \"${BACKUP_CRON} root /backup.sh >> /proc/1/fd/1 2>&1\" > /etc/crontabs/root &&
      crond -f -L /dev/stdout"
    networks:
      - monitoring_net

  prometheus:
    image: ${PROMETHEUS_IMAGE}
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    # ports:
    #   - "9090:9090"
    networks:
      - monitoring_net
    depends_on:
      - mysql_exporter

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_ADMIN_PASSWORD}
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - monitoring_net

volumes:
  mysql_data:
  prometheus_data:
  grafana_data:

networks:
  monitoring_net:
    driver: bridge